.navbar {
  overflow: hidden;
  background-color: #002a32;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: red;
  color: #c4a29e;
}
h1 {
  color: #c4a29e;
  padding: 30px;
  text-align: center;
  right: 50%;
}
h2 {
  text-align: center;
}

img {
  width: 100%;
}
