h2 {
  font-size: 60px;
  font-weight: 550;
}

body {
  font-family: "Forum", sans-serif;
  /* margin: 5px; */
}
section {
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}

.logo-photo {
  background-size: cover;
  color: black;
}
.header {
  background-color: var(--logo-background);
  color: rgb(2, 2, 2);
}

.about-section {
  background-color: var(--about-section-background);
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: left;
  line-height: 60px;
}

.shop-section {
  /* font-weight: 700; */
}

.shop-section :hover {
  font-weight: 600;
  font-size: 2.55rem;
}

.pointer {
  cursor: pointer;
}

.lab-gallery {
  color: rgb(11, 11, 11);
}

.our-story-section {
  background-color: var(--byzantium);
  color: rgb(8, 8, 8);
}

.where-to-get {
  background-color: var(--sky-blue-crayola);
}

.spacer {
  height: 3rem;
}
* {
  /* CSS HSL */
  --gainsboro: #fe7f6c;
  --how-made: #fec1b2;
  --about-section-background: #f0a1a5;
  --byzantium: #fbc8d6;
  --logo-background: rgb(253, 247, 250);
}

@media (orientation: portrait) and (max-width: 1259px) {
  p {
    color: rgb(6, 6, 6);
    font-size: 20px;
  }
  section {
    max-width: 90%;
  }
}

@media (orientation: landscape) and (max-width: 1259px) {
  p {
    color: rgb(6, 6, 6);
    font-size: 20px;
  }
  section {
    max-width: 90%;
  }
}
