header {
  position: fixed;
  width: 100%;
  background-color: var(--eggplant);
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

img, svg {
  width: 100%;
}

#what-is-it {
  background-color: var(--mountbatten-pink);
  color: white;
}

#how-is-made {
  background-color: var(--light-gray);
}

#why-unique {
  background-color: var(--byzantium);
  color:white;
}

#where-to-get {
  background-color: var(--sky-blue-crayola);
}
#cover-photo {
  background-image: url("https://cdn.glitch.global/2014eb2a-79d2-495c-aae8-d312c17d0115/pexels-the-glorious-studio-9651419.jpg?v=1654871312350");
  width: 100%;
  height: 200px;
  background-size: cover;
}
#spacer {
  height: 3rem;
}
body {
  background-color: var(--gainsboro);
  font-family: "Forum", sans-serif;
  margin: 0;
}
section {
  padding: 15px;
  width: 100%;
}
* {
  /* CSS HSL */
--gainsboro: hsla(163, 10%, 86%, 1);
--light-gray: hsla(60, 2%, 81%, 1);
--mountbatten-pink: hsla(292, 10%, 57%, 1);
--byzantium: hsla(316, 35%, 35%, 1);
--eggplant: hsla(339, 25%, 27%, 1);
}
